<h1>index</h1>

<% @users.each do |user| %>
  <div class="card border-dark mb-3">
    <div class="card">
      <div class="card-body" style="background-color: #B0C4DE;">
        <p>name: <%= user.email %></p>
      </div>
    </div>
  </div>
<% end %>
