<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
      <h1>users</h1>
      <% @users.each do |user| %>
        <div class="card border-dark mb-3">
          <div class="card">
            <div class="card-body" style="background-color: #B0C4DE";>
              <p>name: <%= user.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <p>
      <h1>doctors</h1>
      <% @doctors.each do |doctor| %>
        <div class="card border-dark mb-3">
          <div class="card">
            <div class="card-body" style="background-color: #B0C4DE";>
              <p>name: <%= doctor.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <p>
      <h1>categories</h1>
      <% @categories.each do |category| %>
        <div class="card border-dark mb-3">
          <div class="card">
            <div class="card-body" style="background-color: #B0C4DE";>
              <p>name: <%= category.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>